@font-face {
    font-family: "Chalet";
    font-style: normal;
    font-weight: normal;
    src: url('./assets/chalet.woff') format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Chalet", sans-serif;
    font-size: 16px;
}

body {
    background-color: #2b3a42;
    background-image: url("./assets/batman.jpg");
    background-size: cover;
    color: #8dd6f9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    max-width: 4rem;
}